// .display {
//   display: flex;
//   align-items: center;
// }

.header {
  background-color: var(--primary-white-color);

  border-bottom: 1px solid #ececec;
}

.header-nav {
  @media screen and (min-width: 768px) {
    margin-left: 93px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  &:link {
    margin-bottom: 0;
  }
}

.deckor {
  color: var(--title-text-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.site-nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;

  transition: color var(--turns-fast);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &.current {
    color: var(--accent-color);

    &::after {
      content: '';

      position: absolute;
      left: 0;
      bottom: 0;

      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
}
